<%= simple_form_for(@appointment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :test_date, as: :string, label: "Schedule Date", input_html: { class: "datepicker"} %>
    <%= f.input :test_time, as: :string, label: "Schedule Time", input_html: { class: "timepicker"} %>

    <%= f.input :test_appointment, as: :hidden %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


